/* Estilos extraídos de diseñonuevo.html */
body {
    font-family: Arial, sans-serif;
    background-color: #080710;
}

.background {
    width: 500px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}




form {
    margin-top: 50px;
    height: 600px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1); 
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    color: white;   
}

form h3 {
    font-size: 32px;
    font-weight: bold;
    line-height: 42px;
    text-align: center;
}

form input[type="text"],
form input[type="password"] {
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border: none;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 300px;
    color: #ffffff;
}


form button, .btn{
    margin-top: 30px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave */
}

form button:hover {
    background-color: #080710; /* Cambia el color de fondo al pasar el cursor */
    color: #ffffff; /* Cambia el color del texto al pasar el cursor */
    text-decoration: none;
}

form .btn:hover{
    background-color: #080710; /* Cambia el color de fondo al pasar el cursor */
    color: #ffffff; /* Cambia el color del texto al pasar el cursor */
}

.background-section {
    background-image: url('/static/images/mazdaback.jpg');
    background-size: cover; /* La imagen cubrirá todo el área */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    height: 100vh; /* Ajustar la altura para cubrir toda la pantalla */
}

#pass_reset{
    margin-top: 30px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave */
    text-decoration: none;
}

#pass_reset:hover{
    background-color: #080710; /* Cambia el color de fondo al pasar el cursor */
    color: #ffffff; /* Cambia el color del texto al pasar el cursor */
    text-decoration: none;
}

label{
    font-weight: bold;
    color: #ffffff;
}