#hola {
  background-color: rgb(34, 31, 31);
  opacity: 95%;
  padding: 10px 0;
}

.navbar-brand {
  letter-spacing: 3px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
}

.navbar-scroll .navbar-brand,
.navbar-scroll .nav-link {
  color: #fff;
}

